th, td {
    padding: 15px;
    text-align: left;
}
table {
    border-collapse: collapse;
}

table, th, td {
    border: 1px solid black;
}

input[type=text] {
    border: 2px solid red;
    border-radius: 4px;
}
input[type=number] {
    border: 2px solid red;
    border-radius: 4px;
}
input[type=date] {
    border: 2px solid red;
    border-radius: 4px;
}
